In [8]:
import pandas as pd
dframe = pd.DataFrame({'LoanAmount': [7500, 4700, 45000, 20000, 3400, 3500, 7500, 12000, 7500, 2300], 'TermsDay': [30, 30, 30, 90, 45, 180, 45, 30, 90, 30]})

In [9]:
dframe

   LoanAmount  TermsDay
0        7500        30
1        4700        30
2       45000        30
3       20000        90
4        3400        45
5        3500       180
6        7500        45
7       12000        30
8        7500        90
9        2300        30

In [10]:
dframe.groupby('TermsDay').mean()
dframe.groupby('TermsDay').std()

            LoanAmount
TermsDay
30        17536.960968
45         2899.137803
90         8838.834765
180                NaN

In [13]:
dframe['repaymentDueDate'] = ['2019-01-20', '2019-01-22', '2019-02-07', '2019-02-03', '2019-01-20', '2019-01-20', '2019-03-02', '2019-01-29', '2019-02-20', '2019-02-20']
dframe['repaymentPaidDate'] = ['2019-01-16', '2018-12-29', '2019-01-08', '2019-01-08', '2019-01-17', '2019-01-20', '2019-03-23', '2019-01-30', '2019-02-24', '2019-02-23']

In [14]:
dframe['repaymentDueDate']

0    2019-01-20
1    2019-01-22
2    2019-02-07
3    2019-02-03
4    2019-01-20
5    2019-01-20
6    2019-03-02
7    2019-01-29
8    2019-02-20
9    2019-02-20
Name: repaymentDueDate, dtype: object

In [17]:
import math

# df['dateDifference'] = math.abs(df['repaymentPaidDate'] - df['repaymentDueDate'])
math