# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [92]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [93]:
# Add your code for Question 2 in this code block
df = pd.read_csv('application_data.csv')
df.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [94]:
# convert to dates
df['appilcationDate'] = pd.to_datetime(df['appilcationDate'])
df['repaymentDueDate'] = pd.to_datetime(df['repaymentDueDate'])
df['repaymentPaidDate'] = pd.to_datetime(df['repaymentPaidDate'])

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [95]:
# data types
df.dtypes

customerID                   object
loanId                       object
appilcationDate      datetime64[ns]
LoanNumber                    int64
LoanAmount                  float64
InterestRate                float64
TermDays                      int64
repaymentDueDate     datetime64[ns]
repaymentPaidDate    datetime64[ns]
dtype: object

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [96]:
# 2a avg loan amount
df['LoanAmount'].mean()

13828.08

In [97]:
# 2b avg interest rate
df['InterestRate'].mean()

23.061700000000013

In [98]:
# 2c avg term days 
df['TermDays'].mean()

42.075

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [99]:
# number of loans more than 3 days late
df['dateDifference'] = (df['repaymentPaidDate'] - df['repaymentDueDate']).dt.days

df1 = pd.DataFrame([row for idx, row in df.iterrows() if row['dateDifference'] > 3])
# df1
len(df1)

145

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [100]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
df.groupby(['TermDays']).mean()

          LoanNumber    LoanAmount  InterestRate  dateDifference
TermDays
15          2.628931   1274.088050     15.000000       -1.238994
30          2.137500   7941.964286     28.562143        1.900000
45          1.100000  10706.250000     28.732500      -31.000000
60          4.800000  25710.526316     15.055789      -39.389474
90          4.709091  37672.727273     10.645455      -73.636364
120         1.000000  45055.555556     11.666667     -110.444444
180         6.285714  80988.095238      6.250000     -153.714286

---

In [101]:
df.groupby(['TermDays']).std()

          LoanNumber    LoanAmount  InterestRate  dateDifference
TermDays
15          1.712033   2885.967406      0.000000       11.952680
30          2.059236   1606.039495      4.034005       28.982087
45          0.341256   2346.143820      5.773965       10.687743
60          4.939205  11559.646185      3.632352       20.017702
90          2.891064  18050.140602      2.180963       13.526878
120         0.000000  22192.966854      1.000000       11.248457
180         3.808115  34612.222587      1.265152       34.924508

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [102]:
# week of year and average number of late days
df1['week_of_the_year'] = df1['appilcationDate'].dt.week
df1.groupby(['week_of_the_year']).mean()

,LoanNumber,LoanAmount,InterestRate,TermDays,dateDifference
week_of_the_year,,,,,
1,1.700000,6758.000000,28.500000,28.500000,87.600000
2,1.250000,5645.000000,26.250000,26.250000,45.750000
3,2.000000,4717.500000,24.375000,24.375000,16.500000
4,1.333333,6263.333333,27.500000,27.500000,37.916667
5,2.333333,3790.000000,22.500000,22.500000,18.000000
6,2.571429,3260.000000,21.428571,21.428571,39.714286
7,1.250000,7500.000000,30.000000,30.000000,29.250000
8,1.230769,7500.000000,30.000000,30.000000,25.153846
9,1.714286,7500.000000,30.000000,30.000000,55.857143
10,2.000000,7500.000000,30.000000,30.000000,29.250000
11,1.500000,7500.000000,30.000000,30.000000,71.500000
12,2.000000,7500.000000,30.000000,30.000000,19.500000
13,3.000000,7500.000000,30.000000,30.000000,34.000000
14,4.000000,7500.000000,30.000000,30.000000,14.000000
15,2.000000,7500.000000,30.000000,30.000000,7.000000
17,1.500000,7500.000000,30.000000,30.000000,34.500000
19,1.000000,7500.000000,30.000000,30.000000,66.500000
20,1.000000,7500.000000,30.000000,30.000000,28.000000
21,1.000000,7500.000000,30.000000,30.000000,10.000000
22,2.000000,7500.000000,30.000000,30.000000,88.000000
23,2.000000,7500.000000,30.000000,30.000000,11.000000
24,2.500000,7500.000000,30.000000,30.000000,36.000000
26,1.666667,7500.000000,30.000000,30.000000,27.333333
27,2.000000,7500.000000,30.000000,30.000000,4.000000
28,2.000000,7500.000000,30.000000,30.000000,7.000000
29,4.000000,11833.333333,26.666667,40.000000,69.000000
30,2.000000,7500.000000,30.000000,30.000000,65.000000
31,3.000000,7500.000000,30.000000,30.000000,108.000000
32,4.000000,7500.000000,30.000000,30.000000,15.500000
33,1.000000,7500.000000,30.000000,30.000000,30.000000
34,2.000000,7500.000000,30.000000,30.000000,14.000000
35,3.000000,7500.000000,30.000000,30.000000,4.000000
36,6.000000,11833.333333,26.666667,40.000000,39.333333
37,1.200000,7500.000000,30.000000,30.000000,17.200000
38,1.000000,7500.000000,30.000000,30.000000,60.000000
39,2.000000,7500.000000,30.000000,30.000000,9.000000
40,2.000000,7500.000000,30.000000,30.000000,9.000000
41,2.000000,7500.000000,30.000000,30.000000,8.000000
42,1.000000,7500.000000,30.000000,30.000000,20.000000
44,1.000000,7500.000000,30.000000,30.000000,9.000000
45,1.000000,7500.000000,30.000000,30.000000,6.000000
48,2.000000,7500.000000,30.000000,30.000000,18.000000

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.