In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import numpy.random as nr

import sklearn.model_selection as ms
from sklearn import linear_model
from sklearn import preprocessing
import sklearn.metrics as sklm

%matplotlib inline

In [136]:
train_data = pd.read_csv('preped/preped_data2.csv')
labels = np.array(train_data['accepted'])

train_data.shape

(500000, 24)

In [137]:
# cols = ['loan_type', 'property_type', 'loan_purpose', 'occupancy', 'loan_amount', 'preapproval', 
#                 'msa_md', 'state_code', 'county_code', 'applicant_income',
#         'ffiecmedian_family_income', 'tract_to_msa_md_income_pct', 'number_of_owner-occupied_units', 
#         'number_of_1_to_4_family_units', 'lender']

# cols = ['loan_type', 'property_type', 'loan_purpose', 'occupancy', 'loan_amount', 'preapproval', 
#                 'msa_md', 'state_code', 'county_code', 'applicant_income',
#                 'tract_to_msa_md_income_pct', 'number_of_owner-occupied_units', 'lender']

best_cols = ['lender', 'number_of_owner-occupied_units', 'loan_purpose', 'applicant_income', 'loan_amount', 'preapproval']

features = np.array(train_data[best_cols])

In [138]:
features.shape

(500000, 6)

In [139]:
nr.seed(9988)
indx = range(features.shape[0])
indx = ms.train_test_split(indx, test_size = 300)
X_train = features[indx[0],:]
y_train = np.ravel(labels[indx[0]])
X_test = features[indx[1],:]
y_test = np.ravel(labels[indx[1]])

In [12]:
# scaler = preprocessing.StandardScaler().fit(X_train)
# X_train = scaler.transform(X_train)
# X_test = scaler.transform(X_test)

In [140]:
# 4th Submission
# pd.DataFrame(X_train).to_csv('scaled/x_train.csv')
# pd.DataFrame(X_test).to_csv('scaled/x_test.csv')

# pd.DataFrame(y_train).to_csv('scaled/y_train.csv')
# pd.DataFrame(y_test).to_csv('scaled/y_test.csv')


# 5th Submission
pd.DataFrame(X_train).to_csv('scaled/x_train2.csv')
pd.DataFrame(X_test).to_csv('scaled/x_test2.csv')

pd.DataFrame(y_train).to_csv('scaled/y_train2.csv')
pd.DataFrame(y_test).to_csv('scaled/y_test2.csv')

## FINAL SUBMISSIONS - USING CATBOOST

In [148]:
# pred1 = pd.read_csv('predictions/test_pred3.csv')

# 4th
# pred1 = pd.read_csv('predictions/test_pred4.csv')

# 5th
pred1 = pd.read_csv('predictions/test_pred_nth.csv')

print(pred1.shape)
pred1.head(10)

(500000, 2)

   Unnamed: 0    0
0           0  1.0
1           1  1.0
2           2  0.0
3           3  1.0
4           4  0.0
5           5  0.0
6           6  1.0
7           7  0.0
8           8  1.0
9           9  1.0

In [149]:
pred1.columns

Index(['Unnamed: 0', '0'], dtype='object')

In [150]:
pred1.drop('Unnamed: 0',axis=1, inplace=True)

In [151]:
row_id = [idx for idx, row in pred1.iterrows()]
pred1['row_id'] = row_id
pred1.head()

     0  row_id
0  1.0       0
1  1.0       1
2  0.0       2
3  1.0       3
4  0.0       4

In [152]:
accepted = [int(row[0]) for idx, row in pred1.iterrows()]

final_df = pd.DataFrame(data=pred1['row_id'], columns=['row_id'])
final_df['accepted'] = accepted

print(final_df.shape)

(500000, 2)

In [153]:
final_df.head(10)

   row_id  accepted
0       0         1
1       1         1
2       2         0
3       3         1
4       4         0
5       5         0
6       6         1
7       7         0
8       8         1
9       9         1

In [154]:
final_df.dtypes

row_id      int64
accepted    int64
dtype: object

In [155]:
# Official submission
# final_df.to_csv('predictions/second_submission_catboost.csv', index=None)
# final_df.to_csv('predictions/4th_submission_catboost.csv', index=None)

# final_df.to_csv('predictions/5th_submission_catboost.csv', index=None)

final_df.to_csv('predictions/nth_submission_catboost.csv', index=None)